[submodule "PooCAvM2"]
	path = PooCAvM2
	url = git@github.com:jskd/PooCAvM2.git
[submodule "CavBDM2"]
	path = CavBDM2
	url = git@github.com:jskd/CavBDM2.git
[submodule "Fouilles"]
	path = Fouilles
	url = git@github.com:jskd/Fouilles.git
[submodule "ProtInt"]
	path = ProtInt
	url = git@github.com:jskd/ProtInt.git
[submodule "ANGM2"]
	path = ANGM2
	url = git@github.com:jskd/ANGM2.git
