[submodule "ProtInt"]
	path = ProtInt
	url = git@github.com:jskd/ProtInt.git
[submodule "IngProt"]
	path = IngProt
	url = git@github.com:jskd/IngProt.git
[submodule "ModSpec"]
	path = ModSpec
	url = git@github.com:jskd/ModSpec.git
[submodule "InfoEmb"]
	path = InfoEmb
	url = git@github.com:jskd/InfoEmb.git
[submodule "ANGM2"]
	path = AngM2
	url = git@github.com:jskd/ANGM2.git
[submodule "Fouilles"]
	path = Fouilles
	url = git@github.com:jskd/Fouilles.git
[submodule "PooCAvM2"]
	path = PooCAvM2
	url = git@github.com:jskd/PooCAvM2.git
[submodule "CavBDM2"]
	path = CavBDM2
	url = git@github.com:jskd/CavBDM2.git
[submodule "ScienceEtSystemeSpatiauxM1"]
	path = ScienceEtSystemeSpatiauxM1
	url = git@github.com:jskd/ScienceEtSystemeSpatiauxM1.git
[submodule "ArchSI"]
	path = ArchSI
	url = git@github.com:jskd/ArchSI.git
[submodule "MacOS-X"]
	path = MacOS-X
	url = git@github.com:jskd/MacOS-X.git
[submodule "Mobil"]
	path = Mobil
	url = git@github.com:jskd/Mobil.git
[submodule "AdmSysR"]
	path = AdmSysR
	url = git@github.com:jskd/AdmSysR.git
[submodule "ProgComp"]
	path = ProgComp
	url = git@github.com:jskd/ProgComp.git
