[submodule "ProtInt"]
	path = ProtInt
	url = git@github.com:jskd/ProtInt.git
[submodule "IngProt"]
	path = IngProt
	url = git@github.com:jskd/IngProt.git
[submodule "ModSpec"]
	path = ModSpec
	url = git@github.com:jskd/ModSpec.git
[submodule "InfoEmb"]
	path = InfoEmb
	url = git@github.com:jskd/InfoEmb.git
[submodule "ANGM2"]
	path = ANGM2
	url = git@github.com:jskd/ANGM2.git
